@font-face {
  font-family: 'custom-bold';
  src: url('../fonts/custom-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/custom-bold.otf')  format('opentype'),
       url('../fonts/custom-bold.woff') format('woff'),
       url('../fonts/custom-bold.ttf')  format('truetype'),
       url('../fonts/custom-bold.svg#custom-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
